*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainbox{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 50px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.box{
    width: 250px;
    height: 364px;
    border: 2px solid black;
    border-radius: 3px;
}

.logo{
    width: 60px;
    margin-top: 23px;
    margin-bottom: 20px;
}

.heading{
    margin-bottom: 18px;
}

.btn{
    margin-top: 22px;
    width: 210px;
    height: 36px;
    border-radius: 50px;
    background-color: black;
    color: white;
    border:  none;
}

p{
    color: rgb(65, 61, 61);
}

